<a [routerLink]="['/']" mat-raised-button>Back</a>
@if(character){
    <mat-card class="card" appearance="outlined">
        <mat-card-header>          
          <mat-card-title><h2>{{character.name}}</h2></mat-card-title>         
        </mat-card-header>
        <img mat-card-image src="{{character.image}}" alt="{{character.name}}" >
        <mat-card-content>       
            <p><strong>Status:</strong> {{character.status}}</p>
            <p><strong>Species:</strong> {{character.species}}</p>
        </mat-card-content>  
      </mat-card>       
}

